@model Application.DTOs.Password.ChangePasswordRequestDTO

@{
    ViewData["Title"] = "Change Password";
}

<partial name="_Notification"/>

<div class="container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="border border-3 border-secondary rounded-2">
            <div class="card bg-white shadow-lg">
                <div class="card-body p-5">
                    <form class="mb-1 mt-md-4" role="form" autocomplete="off" asp-controller="Home" asp-action="ChangePassword">
                        <h2 class="fw-bold mb-2">Change Password</h2>
                        <p class=" mb-4">Please enter your current and new password.</p>
                        <div class="mb-3">
                            <label class="form-label required">Current Password</label>
                            <input type="password" class="form-control" id="inputPasswordOld" required="" asp-for="CurrentPassword">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">New Password</label>
                            <input type="password" class="form-control" id="inputPasswordNew" required="" asp-for="NewPassword">
                            <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPasswordConfirm" required="" asp-for="ConfirmNewPassword">
                            <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                        </div>
                        <div class="mt-4 d-grid">
                            <button class="btn text-white" style="background-color: #DB4B73" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
