<style>
    .nav-tabs .nav-item .nav-link {
        border: none;
    }
    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border-bottom: 3px solid #DB4B73;
    }
</style>

<div class="row m-5">
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="enrollment-tab" data-toggle="tab" href="#enrollment">Enrollment Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lms-tab" data-toggle="tab" href="#lms">LMS</a>
        </li>
    </ul>
    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="enrollment">
            <form action="">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="enrollmentno">Enrollment no.</label>
                          <input type="text" class="form-control" id="enrollmentno" placeholder="Type here...">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Type here...">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="age">Email address</label>
                          <input type="date" class="form-control" id="age" placeholder="Select here...">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-secondary btn-block mt-4">Search</button>
                      </div>
                    </div>
                </div>
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <div class="mt-1 form-check-group d-flex justify-content-between">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Male" value="option1">
                                        <label class="form-check-label" for="Male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Female" value="option2">
                                        <label class="form-check-label" for="Female">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Others" value="option3">
                                        <label class="form-check-label" for="Others">Others</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="class">Class</label>
                                <select class="mt-1 form-control" id="class" name="class">
                                    <option value="" selected disabled>Select Here...</option>
                                    <option value="class1">Class 1</option>
                                    <option value="class2">Class 2</option>
                                    <option value="class3">Class 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Subjects</label>
                                <div class="mt-1 form-check-group d-flex justify-content-between">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="hindi" value="option1">
                                        <label class="form-check-label" for="hindi">Hindi</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="Math" value="option2">
                                        <label class="form-check-label" for="Math">Math</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="English" value="option3">
                                        <label class="form-check-label" for="English">English</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="science" value="option3">
                                        <label class="form-check-label" for="science">Science</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <span class="primary-color ms-3"><b>Details</b></span>
            </div>
            <div class="container-fluid">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>Enrollment No</td>
                        <td><b>1010101</b></td>
                    </tr>
                    <tr style="background-color: #F1B7C7;">
                        <td>Name</td>
                        <td><b>User</b></td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td><b>21</b></td>
                    </tr>
                    <tr style="background-color: #F1B7C7;">
                        <td>Gender</td>
                        <td><b>Male</b></td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td><b>10th</b></td>
                    </tr>
                    <tr style="background-color: #0a53be"> 
                        <td>Subjects</td>
                        <td><b>English, Maths</b></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="mx-auto text-center">
                <button class="btn-block loginButtonSize" type="submit" style="background-color: #393185; color: white">
                    Download Details
                </button>
            </div>
        </div>
        <div class="tab-pane fade" id="lms">
            <h5>Hindi</h5>
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-fill bd-highlight">
                    <div class="row">
                        <div class="col">
                            <div>
                              <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                            </div>
                        </div>
                        <div class="col">
                            <div><h6>Chapter 1</h6>
                            <p>Chapter Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <div class="row">
                        <div class="col">
                            <div>
                                <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                            </div>
                        </div>
                        <div class="col">
                            <div><h6>Chapter 1</h6>
                                <p>Chapter Description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <div class="row">
                        <div class="col">
                            <div>
                                <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                            </div>
                        </div>
                        <div class="col">
                            <div><h6>Chapter 1</h6>
                                <p>Chapter Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-fill bd-highlight">
                <div class="row">
                  <div class="col">
                    <div>
                      <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                    </div>
                  </div>
                  <div class="col">
                    <div><h6>Chapter 1</h6>
                      <p>Chapter Description</p>
                  </div>
                  </div>
                </div>
              </div>
                <div class="p-2 flex-fill bd-highlight">
                  <div class="row">
                    <div class="col">
                      <div>
                        <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                      </div>
                    </div>
                    <div class="col">
                      <div><h6>Chapter 1</h6>
                        <p>Chapter Description</p>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                  <div class="row">
                    <div class="col">
                      <div>
                        <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                      </div>
                    </div>
                    <div class="col">
                      <div><h6>Chapter 1</h6>
                        <p>Chapter Description</p>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
            <hr>
            <div>
            <h5>English</h5>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                                </div>
                            </div>
                            <div class="col">
                                <div><h6>Chapter 1</h6>
                                    <p>Chapter Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                                </div>
                            </div>
                            <div class="col">
                                <div><h6>Chapter 1</h6>
                                    <p>Chapter Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                                </div>
                            </div>
                            <div class="col">
                                <div><h6>Chapter 1</h6>
                                <p>Chapter Description</p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                                </div>
                            </div>
                            <div class="col">
                                <div><h6>Chapter 1</h6>
                                    <p>Chapter Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                                </div>
                            </div>
                            <div class="col">
                                <div><h6>Chapter 1</h6>
                                    <p>Chapter Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="~/images/book.png" height="100px" width="150px"  alt="Image could not be loaded">
                                </div>
                            </div>
                            <div class="col">
                                <div><h6>Chapter 1</h6>
                                    <p>Chapter Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
