@{
    ViewData["Title"] = "Privacy and Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1{
        margin-top: 12pt;
        margin-bottom: 0;
        page-break-inside: avoid;
        page-break-after: avoid;
        line-height: 108%;
        font-size: 12pt;
    }
    
    p{
        margin-top: 0;
        margin-bottom: 8pt;
        line-height: 108%;
        font-size: 12pt;
    }

    h1 span {
        font-weight: normal;
        color: #2f5496;
    }
    
    .description{
        margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;
    }
    
    .description1{
        margin-top:2pt; margin-bottom:0pt; line-height:normal; font-size:12pt;
    }
    
</style>
<div style="padding:50px 100px;box-shadow: 10px 10px 20px rgba(0,0,0,0.2);">
    <fieldset style="padding:20px;">
        <legend align="center"><h1><span style="font-size:18px;">PRIVACY AND POLICY::</span></h1></legend>
        @* <h1><span>INTRODUCTION</span></h1> *@
        @* <p><span>Thank you for reviewing to RSOS&rsquo;s Privacy Policy.&nbsp;</span></p> *@
        @* <p><span>We understand that you trust us with your information, and we intend to always keep that trust. This starts with making sure you understand the information we collect, why we collect it, how it is used and your choices regarding your information. This Policy describes, in the clearest way possible, our privacy practices to allow you to participate in this social eco-system we&rsquo;re attempting to build, for your benefit and ours.</span></p> *@
        @* <p><span>&nbsp;</span></p> *@
        @* <p><span>Table of Contents</span></p> *@
        @* <p><span>OUR COMMITMENT TO YOU:</span></p> *@
        @* <p><span>WHO WE ARE:</span></p> *@
        @* <p><span>INFORMATION WE COLLECT:</span></p> *@
        @* <p><span>INFORMATION WE USE FROM OTHERS:</span></p> *@
        @* <p><span>HOW DO WE HANDLE YOUR SOCIAL LOGINS?&nbsp;</span></p> *@
        @* <p><span>HOW DO WE SHARE YOUR INFORMATION?</span></p> *@
        @* <p><span>HOW LONG WE RETAIN YOUR INFORMATION</span></p> *@
        @* <p><span>DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?&nbsp;</span></p> *@
        @* <p><span>DO WE MAKE UPDATES TO THIS POLICY?&nbsp;</span></p> *@
        @* <p><span>NO CHILDREN AND MINORS ALLOWED</span></p> *@
        @* <div class="content"> *@
        @*     <h1><span>OUR COMMITMENT TO YOU</span></h1> *@
        @*     <p><span>At RSOS Labs, your privacy is a top priority. Your privacy is at the core of the way we design and build the services and products you know and love, so that you can fully trust them and focus on building meaningful connections.</span></p> *@
        @*     <p class = "description"><span>If there are any terms in this privacy policy that you do not agree with, please discontinue use of our services.&nbsp;</span></p> *@
        @*     <h1><span>WHO WE ARE:</span></h1> *@
        @*     <p class="description1"><span>We are RSOS Labs, your social partner in finding, hopefully, a life partner providing you with our version of a dating app RSOS. We are a serious dating app, and our goal is to provide a platform for you, so that you can find your life partner. Our value add to our customers is providing this platform accounting for your customs, traditions, religious beliefs and social norms. This is what makes RSOS different from other online dating and social apps.</span></p> *@
        @*     <h1><span>INFORMATION WE COLLECT</span></h1> *@
        @*     <p class = "description1"><span>We automatically collect certain information when you visit, use or navigate the application. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser, and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Site and other technical information. This information is primarily needed to maintain the security and operation of our application, and for our internal analytics and reporting purposes.&nbsp;</span></p> *@
        @*     <div> *@
        @*         <ul> *@
        @*             <li>Account Creation: provide us with at least your phone number and email address, as well as some basic details necessary for the service to work, such as your gender, date of birth, and who you&rsquo;d like to connect with.&nbsp;</li> *@
        @*             <li>Profile Creation: you have the option to share your ethnicity, religious beliefs, and language spoken with us. Where you provide such elements to us, you consent to us using it for the purposes identified and as laid out in this Privacy Policy. You can also share additional information with us, such as details on your bio and your interests, as well as content such as photos. To add certain content, like pictures, you may allow us to access your camera or photo album.<li/> *@
        @*             <li>Subscription: When you subscribe to a paid service or make a purchase directly from us (rather than through a platform such as iOS or Android), you provide us with information related to the purchases you make and our payment processors with information such as your debit or credit card number or other financial information.&nbsp;</li> *@
        @*             <li>Surveys: When you participate in surveys, focus groups or market studies, you give us your insights into our products and services, responses to our questions and testimonials.&nbsp;</li> *@
        @*             <li>Promotions/Ads: When you choose to participate in our promotions, events or contests, we collect the information that you use to register or enter.&nbsp;</li> *@
        @*             <li>Contact Us: If you contact us (e.g., through our customer care team or on social media), we collect the information you give us during the interaction.&nbsp;</li> *@
        @*             <li>Share Others: If you share with us information about other people (for example, if you use contact details of a friend for a given feature), we process this information on your behalf in order to complete your request.&nbsp;</li> *@
        @*             <li>Chats: We also process your chats with other users as well as the content you publish to operate and secure the services, and to keep our community safe.&nbsp;</li> *@
        @*             <li>Social Media Login Data. We utilize your Facebook, google or TikTok for authentication purposes. If you choose to register in this way, we will collect the Information described in the section called &quot;Social Logins&quot;. All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.&nbsp;</li> *@
        @*         </ul> *@
        @* *@
        @*     </div> *@
        @*     <h1><span>INFORMATION WE USE FROM OTHERS</span></h1> *@
        @*     <p class = "description1"><span style="font-family:'Times New Roman'; color:#1a1a1a;">In addition to the information provided to us directly, we receive information about you from others, including:&nbsp;</span></p> *@
        @*     <ul> *@
        @*         <li>Users: may provide information about you as they use our services, for instance as they interact with you or if they submit a report involving you.</li> *@
        @*         <li>Social Media: you may decide to share your information with us through your social media account, for instance if you decide to create and log into your RSOS account via your social media or other account (e.g. Facebook, Google or TikTok) or upload into our services information such as photos from one of your social media accounts (e.g. Facebook or Instagram)</li> *@
        @*     </ul> *@
        @* *@
        @*     <p class = "description1"><strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">Information generated or automatically collected when you use our services&nbsp;</span></em></strong></p> *@
        @*     <p class = "description1"><span style="font-family:'Times New Roman'; color:#1a1a1a;">When you use our services, this generates technical data about which features you&rsquo;ve used, how you&rsquo;ve used them and the devices you use to access our services. See below for more details.&nbsp;</span></p> *@
        @*     <ul> *@
        @*         <li>Usage Information: Using the services generates data about your activity on our services, for instance how you use them (e.g., when you logged in, features you&rsquo;ve been using, actions taken, information shown to you, referring webpages address and ads that you interacted with) and your interactions with other users (e.g., users you connect and interact with, and when you matched and exchanged messages with them).</li> *@
        @*         <li>Device Information: We collect information from and about the device(s) you use to access our services, including hardware and software information such as IP address, device ID and type, apps settings and characteristics, app crashes, advertising IDs (which are randomly generated numbers that you can reset by going into your device&rsquo; settings and, in some cases, disable entirely), and identifiers associated with cookies or other technologies that may uniquely identify a device or browser.</li> *@
        @*         <li>Information collected by cookies and other similar technologies: We use and may allow others to use cookies and similar technologies (e.g., web beacons, pixels and SDKs) to recognize you and/or your device(s). *@
        @*             Some web browsers (including Safari, Internet Explorer, Firefox and Chrome) have a &ldquo;Do Not Track&rdquo; (&ldquo;DNT&rdquo;) feature that tells a website that a user does not want to have his or her online activity tracked. If a website that responds to a DNT signal receives a DNT. *@
        @*         </li> *@
        @*     </ul> *@
        @*     <p class = "description"><span>What are cookies?&nbsp;</span></p> *@
        @*     <p class = "description"><span>Cookies are small text files that are sent to or accessed from your web browser or your device&rsquo;s memory. A cookie typically contains the name of the domain (internet location) from which the cookie originated, the &ldquo;lifetime&rdquo; of the cookie (i.e., when it expires) and a randomly generated unique number or similar identifier. A cookie also may contain information about your device, such as user settings, browsing history and activities conducted while using our services.&nbsp;</span></p> *@
        @*     <p class = "description"><span>Are there different types of cookies?&nbsp;</span></p> *@
        @*     <p class = "description"><span>There are first-party cookies and third-party cookies. First-party cookies are placed on your device directly by us. For example, we use first-party cookies to adapt our website to your browser&rsquo;s language preferences and to better understand your use of our website. Third-party cookies are placed on your device by our partners and service providers. For example, we use third-party cookies to measure user numbers on our website or to enable you to share content with others across social media platforms.&nbsp;</span></p> *@
        @*     <p class = "description"><span>There are session cookies and persistent cookies. Session cookies only last until you close your browser. We use session cookies for a variety of reasons, including to learn more about your use of our website during one single browser session and to help you to use our website more efficiently. Persistent cookies have a longer lifespan and aren&apos;t automatically deleted when you close your browser. These types of cookies are primarily used to help you quickly sign-in to our website again and for analytical purposes.&nbsp;</span></p> *@
        @*     <p class = "description"><span>What about other tracking technologies, like web beacons?&nbsp;</span></p> *@
        @*     <p class = "description"><span>Other technologies such as web beacons (also called pixel tags or clear gifs), tracking URLs or software development kits (SDKs) are used for similar purposes. Web beacons are tiny graphics files that contain a unique identifier that enable us to recognize when someone has visited our service or opened an e-mail that we have sent them. Tracking URLs are custom generated links that help us understand where the traffic to our webpages comes from. SDKs are small pieces of code included in apps, which function like cookies and web beacons.&nbsp;</span></p> *@
        @*     <p class = "description"><span>For simplicity, we also refer to these technologies as &ldquo;cookies&rdquo; in this Cookie Policy.&nbsp;</span></p> *@
        @*     <p class = "description"><span>What do we use cookies for?&nbsp;</span></p> *@
        @*     <p class = "description"><span>Like most providers of online services, we use cookies to provide, secure and improve our services, including by remembering your preferences, recognizing you when you visit our website and personalizing and tailoring ads to your interests. To accomplish these purposes, we also may link information from cookies with other personal information we hold about you.&nbsp;</span></p> *@
        @*     <p class = "description"><span>When you visit our website, some or all of the following types of cookies may be set on your device.&nbsp;</span></p> *@
        @*     <p class = "description"><span>How can you control cookies?&nbsp;</span></p> *@
        @*     <p class = "description"><span>There are several cookie management options available to you. Please note that changes you make to your cookie preferences may make browsing our website a less satisfying experience. In some cases, you may even find yourself unable to use all or part of our site.&nbsp;</span></p> *@
        @*     <p class = "description"><em><span>Browser and devices controls</span></em><span>&nbsp;</span></p> *@
        @*     <p class = "description"><span>Some web browsers provide settings that allow you to control or reject cookies or to alert you when a cookie is placed on your computer. The procedure for managing cookies is slightly different for each internet browser. You can check the specific steps in your particular browser help menu.&nbsp;</span></p> *@
        @*     <p class = "description"><span>You also may be able to reset device identifiers by activating the appropriate setting on your mobile device. The procedure for managing device identifiers is slightly different for each device. You can check the specific steps in the help or settings menu of your particular device.&nbsp;</span></p> *@
        @*     <p class = "description"><em><span>Interest-based advertising tools</span></em><span>&nbsp;</span></p> *@
        @*     <p class = "description"><span>You can opt out of seeing online interest-based advertising from participating companies through the</span><a href="http://optout.aboutads.info/?c=2#!/" style="text-decoration:none;"><u><span style="font-family:'Times New Roman'; color:#0563c1;">Digital Advertising Alliance</span></u></a><span>, the&nbsp;</span><a href="http://www.youronlinechoices.eu/" style="text-decoration:none;"><u><span style="font-family:'Times New Roman'; color:#0563c1;">Interactive Digital Advertising Alliance</span></u></a><span>&nbsp;or&nbsp;</span><a href="http://youradchoices.com/appchoices" style="text-decoration:none;"><u><span style="font-family:'Times New Roman'; color:#0563c1;">Appchoices</span></u></a><span>&nbsp;(apps only).&nbsp;</span></p> *@
        @*     <p class = "description"><span>Opting out does not mean you will not see advertising - it means you won&rsquo;t see personalized advertising from the companies that participate in the opt-out programs. Also, if you delete cookies on your device after you opted out, you will need to opt-out again.&nbsp;</span></p> *@
        @*     <p class = "description"><span>Social Cookies&nbsp;</span></p> *@
        @*     <p class = "description"><span>To allow you to share content on social media, some features of this website use social media plug-ins (e.g., Twitter&trade; &ldquo;Share to Twitter&rdquo; or LinkedIn&trade; &ldquo;in&rdquo; buttons). Depending on your social media account settings, we automatically receive information from the social media platform when you use the corresponding button on our website.&nbsp;</span></p> *@
        @*     <p class = "description"><span>To learn more about social media cookies, we suggest you refer to your social media platform&rsquo;s cookie policy and privacy policy.&nbsp;</span></p> *@
        @*     <p class = "description"><span>Adobe Flash Player&trade; Flash cookies&nbsp;</span></p> *@
        @*     <p class = "description"><span>Adobe Flash Player&trade; is an application for viewing and interacting with dynamic content using the Flash platform. Flash (and similar applications) use a technology akin to cookies to memorize parameters, preferences and uses of this content. However, Adobe Flash Player manages this information and your choices via an interface separate from that supplied by your browser.&nbsp;</span></p> *@
        @*     <p class = "description"><span>If your terminal is likely to display content developed using the Flash platform, we suggest you access your Flash cookie management tools directly via</span><a href="https://www.adobe.com/" style="text-decoration:none;"><u><span style="font-family:'Times New Roman'; color:#0563c1;">https://www.adobe.com</span></u></a><span>.&nbsp;</span></p> *@
        @*     <p class = "description"><span>Google&trade; Cookies&nbsp;</span></p> *@
        @*     <p class = "description"><em><span>Stuff Google Wants to Make Sure You Know about Google&rsquo;s Data Collection Technology</span></em><span>&nbsp;</span></p> *@
        @*     <p class = "description"><em><span>Google&trade; Maps API Cookies</span></em><span>&nbsp;</span></p> *@
        @*     <p class = "description"><span>Some features of our website (</span><a href="http://www.fonkka.com" style="text-decoration:none;"><u><span style="font-family:'Times New Roman'; color:#0563c1;">www.fonkka.com</span></u></a><span>) and some RSOS App services may rely on the use of Google&trade; Maps API Cookies. Such cookies will be stored on your device.&nbsp;</span></p> *@
        @*     <p class = "description"><span>When browsing this website and using the services relying on Google&trade; Maps API cookies, you consent to the storage, collection of such cookies on your device and to the access, usage and sharing by Google of the data collected thereby.&nbsp;</span></p> *@
        @*     <p class = "description"><span>Google&trade; manages the information and your choices pertaining to Google&trade; Maps API Cookies via an interface separate from that supplied by your browser. For more information, please see&nbsp;</span><a href="https://www.google.com/policies/technologies/cookies/" style="text-decoration:none;"><u><span style="font-family:'Times New Roman'; color:#0563c1;">https://www.google.com/policies/technologies/cookies/</span></u></a><span>.&nbsp;</span></p> *@
        @*     <p class = "description"><em><span>Google Analytics</span></em><span>&nbsp;</span></p> *@
        @*     <p class = "description"><span>We use Google Analytics, which is a Google service that uses cookies and other data collection technologies to collect information about your use of the website and services in order to report website trends.&nbsp;</span></p> *@
        @*     <div> *@
        @*         <h1><span>HOW DO WE HANDLE YOUR SOCIAL LOGINS?</span></h1> *@
        @*         <p class = "description1"><span>If you choose to register or log in to our application using a social media account, we may have access to certain information about you. Our application offers you the ability to register and login using your third-party social media account details (like your Facebook or Google logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, friends list, profile picture as well as other information you choose to make public. [If you login using Facebook, we may also request access to other permissions related to your account, such as friends, check-ins, and likes, and you may choose to grant or deny us access to each individual permission.]&nbsp;</span></p> *@
        @*         <p class = "description1"><span>We will use the information we receive only for the purposes that are described in this privacy policy or that are otherwise made clear to you on the application. Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their application and apps.&nbsp;</span></p> *@
        @*     </div> *@
        @*     <div> *@
        @*         <h1><span>HOW DO WE SHARE YOUR INFORMATION?</span></h1> *@
        @*         <p class = "description1"><span style="font-family:'Times New Roman'; color:#1a1a1a;">The main reason is to deliver and improve our services and provide the service you want. Additionally, we use your info to help keep you and our community safe, and to provide you with advertising that may be of interest to you. Read on for a more detailed explanation of the various reasons for which we use your information, together with practical examples.&nbsp;</span></p> *@
        @*         <p class = "description1"><strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">A. To administer your account and provide our services to you&nbsp;</span></em></strong></p> *@
        @*         <div class="description1"> *@
        @*             <ul> *@
        @*                 <li>Create and manage your account&nbsp;</li> *@
        @*                 <li>Provide you with customer support and respond to your requests&nbsp;</li> *@
        @*                 <li>Communicate with you about our services&nbsp;</li> *@
        @*                 <li>Personalize pricing, offer discounts and other promotions, and complete your transactions&nbsp;</li> *@
        @*             </ul> *@
        @*         </div> *@
        @*         <p class = "description1"><strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">B. To help you connect with other users (priority service)</span></em></strong></p> *@
        @*         <div class="description1"> *@
        @*             <ul> *@
        @*                 <li>Recommend you to other users and recommend other users to you&nbsp;</li> *@
        @*                 <li>Show users&rsquo; profiles to one another&nbsp;</li> *@
        @*                 <li>Enable users to search for and connect with users&nbsp;</li> *@
        @*             </ul> *@
        @*         </div> *@
        @*         <p class = "description1"><strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">C. To Provide Offers&nbsp;</span></em></strong></p> *@
        @*         <div class="description1"> *@
        @*             <ul> *@
        @*                 <li>Perform and measure the effectiveness of advertising campaigns on our services and marketing our services off our platform&nbsp;</li> *@
        @*                 <li>Communicate with you about products or services that we believe may interest you&nbsp;</li> *@
        @*             </ul> *@
        @*         </div> *@
        @*         <div> *@
        @*             <strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">D. To improve our services and develop new ones</span></em></strong> *@
        @*             <ul> *@
        @*                 <li>Administer focus groups, market studies and surveys&nbsp;</li> *@
        @*                 <li>Review interactions with customer care teams to improve our quality of service&nbsp;</li> *@
        @*                 <li>Understand how users typically use the services to improve them (for instance, we may decide to change the look and feel or even substantially modify a given feature based on how users react to it)&nbsp;</li> *@
        @*                 <li>Develop new features and services (for example, we may decide to build a new interests-based feature further to requests received from users).&nbsp;</li> *@
        @*             </ul> *@
        @*         </div> *@
        @*         <p class = "description1"><strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">E. To prevent, detect and fight fraud and other illegal or unauthorized activities&nbsp;</span></em></strong></p> *@
        @*         <div class="description1"> *@
        @*             <ul> *@
        @*                 <li>Find and address ongoing, suspected or alleged violations of our Terms of Use, notably through the review of reports and interactions between members&nbsp;</li> *@
        @*                 <li>Better understand and design countermeasures against violations of our Terms of Use&nbsp;</li> *@
        @*                 <li>Retain data related to violations of our Terms of Use to address the violation and prevent against recurrences&nbsp;</li> *@
        @*                 <li>Enforce or exercise our rights, for example our rights set out in our Terms of Use&nbsp;</li> *@
        @*                 <li>Communicate to individuals who submit a report, including what we&rsquo;ve done as a result of their submission&nbsp;</li> *@
        @*             </ul> *@
        @*         </div> *@
        @*         <div class="description1"> *@
        @*             <p ><strong><em><span style="font-family:'Times New Roman'; color:#1a1a1a;">F. To ensure legal compliance&nbsp;</span></em></strong></p> *@
        @*             <ul> *@
        @*                 <li>Comply with legal requirements&nbsp;</li> *@
        @*                 <li>Assist law enforcement&nbsp;</li> *@
        @*             </ul> *@
        @*         </div> *@
        @*         <i>To process your information as described in this Privacy Policy, we rely on the following legal bases:</i> *@
        @*         <ul> *@
        @*             <li>Provide our service to you: The reason we process your information for purposes A and B above is to perform the contract that you have with us. For instance, as you go about using our service to build meaningful connections, we use your information to maintain your account and your profile, make it viewable to other users and recommend other users to you and to otherwise provide our free and paid features to you and other users.&nbsp;</li> *@
        @*             <li>Legitimate interests: We process your information for purposes C, D and E above, based on our legitimate interest. For instance, we analyze users&rsquo; behavior on our services to continuously improve our offerings, we suggest offers we think might interest you and promote our own services, we process information to help keep our users safe and we process data where necessary to enforce our rights, assist law enforcement and enable us to defend ourselves in the event of a legal action.&nbsp;</li> *@
        @*             <li>Comply with applicable laws and regulations: We process your information for purpose F above where it is necessary for us to comply with applicable laws and regulations and evidence our compliance with applicable laws and regulations. For example, we retain traffic data and data about transactions in line with our accounting, tax and other statutory data retention obligations and to be able to respond to valid access requests from law enforcement. We also keep data evidencing consents users give us and decisions they may have taken to opt-out of a given feature or processing.&nbsp;</li> *@
        @*             <li>Consent: If you choose to provide us with information that may be considered &ldquo;special&rdquo; or &ldquo;sensitive&rdquo; in certain jurisdictions, such as your religious beliefs, you&rsquo;re consenting to our processing of that information in accordance with this Privacy Policy. From time to time, we may ask for your consent to collect specific information such as your precise geolocation or use your information for certain specific reasons. In some cases, you may withdraw your consent by adapting your settings (for instance in relation to the collection of our precise geolocation) or by deleting your content (for instance where you entered information in your profile that may be considered &ldquo;special&rdquo; or &ldquo;sensitive&rdquo;). In any case, you may withdraw your consent at any time by contacting us at the address provided at the end of this Privacy Policy.&nbsp;</li> *@
        @*         </ul> *@
        @* *@
        @*     </div> *@
        @* *@
        @*     <h1><span>HOW LONG WE RETAIN YOUR INFORMATION</span></h1> *@
        @*     <p class = "description1"><span style="font-family:'Times New Roman'; color:#1a1a1a;">We keep your personal information only as long as we need it for legitimate business purposes (as laid out in Section 4) and as permitted by applicable law. If you decide to stop using our services, you can close your account and your profile will stop being visible to other users. Note that we will close your account automatically if you are inactive for a period of two years. After your account is closed, we will delete your personal information, as laid out below:&nbsp;</span></p> *@
        @*     <ul> *@
        @*         <li>To protect the safety and security of our users, we implement a safety retention window of three months following account closure. During this period, we keep your information in the event that it might be necessary to investigate unlawful or harmful conduct. The retention of information during this safety retention window is based on our legitimate interest as well as that of potential third-party victims.&nbsp;</li> *@
        @*         <li> *@
        @*             Once the safety retention window elapses, we delete your data and only keep limited information for specified purposes, as laid out below:&nbsp; *@
        @*             <ol type="a"> *@
        @*                 <li>We maintain limited data to comply with legal data retention obligations: in particular, we keep transaction data for 10 years to comply with tax and accounting legal requirements. We may also need to keep &ldquo;traffic data&rdquo; / logs for one year to comply with legal data retention obligations. We also keep records of consents users give us for five years to evidence our compliance with applicable law.&nbsp;</li> *@
        @*                 <li>We maintain limited information on the basis of our legitimate interest: we keep customer care records and supporting data as well as imprecise location of download/purchase to support our customer care decisions, enforce our rights and enable us to defend ourselves in the event of a claim, profile data in anticipation of potential litigation, for the establishment, exercise or defense of legal claims, and data necessary to prevent users who were banned or people who were found to be under the age of 18 from opening a new account, for as long as necessary to ensure the safety and vital interests of our users.&nbsp;</li> *@
        @*                 <li>Finally, we maintain information on the basis of our legitimate interest where there is an outstanding or potential issue, claim or dispute requiring us to keep information (in particular if we receive a valid legal subpoena or request asking us to preserve data (in which case we would need to keep the data to comply with our legal obligations) or if data would otherwise be necessary as part of legal proceedings).&nbsp;</li> *@
        @*             </ol> *@
        @* *@
        @*         </li> *@
        @*     </ul> *@
        @*     <h1><span>DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span></h1> *@
        @*     <p class = "description1"><span>Yes. California Civil Code Section 1798.83, also known as the &ldquo;Shine The Light&rdquo; law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.&nbsp;</span></p> *@
        @*     <p class="description1"><span>support@rsos.com</span></p> *@
        @*     <h1><span>DO WE MAKE UPDATES TO THIS POLICY?&nbsp;</span></h1> *@
        @*     <p class = "description1"><span>Yes. We may update this privacy policy from time to time based on changes in laws or our service offering update. The updated version will be indicated by an updated &ldquo;Revised&rdquo; date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.&nbsp;</span></p> *@
        @*     <h1><span>NO CHILDREN AND MINORS ALLOWED</span></h1> *@
        @*     <p class = "description1"><span style="font-family:'Times New Roman'; color:#1a1a1a;">Our services are restricted to individuals who are 18 years of age or older. We do not permit individuals under the age of 18 on our platform. If you suspect that a user is under the age of 18, please use the reporting mechanism available on the service.</span></p> *@
        @*     <h1><span>CONTACT US</span></h1> *@
        @*     <p class = "description1"><span style="font-family:'Times New Roman'; color:#1a1a1a;">If you have questions about this Privacy Policy, please contact us at support@rsos.com</span></p> *@
        @* *@
        @* </div> *@
    </fieldset>
</div>
