<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - RSOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/API.styles.css" asp-append-version="true"/>
    <link href="~/lib/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/jquery 3.6.4/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.3.2/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/toastr/build/toastr.min.css">
    <script src="~/js/aes.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-6">
                <div class="section">
                    <div class="col-md-6">
                        <div class="rectangle-image"></div>
                        <div style="justify-content: center; align-items: center; text-align: center;">
                            <img src="images/government.png" style="position: absolute; margin-left: 2vw;" alt="">
                            <img src="images/logo.png" style="width: 8vw; margin-top: 12vw;" alt=""/>
                        </div>
                        <div class="welcomeCard mt-5" style="border-radius: 1rem">
                            <p class="welcomeTitle poppins-medium mb-1" style="margin-top: 20px">
                                Welcome to
                            </p>
                            <p class="poppinforCard mb-1" style="color: #393185">
                                Rajasthan State Open School
                            </p>
                            <p class="poppinforCard" style="color: #db4b73">Student App</p>
                            <p class="welcomeTitle poppins-medium mb-1">आपका स्वागत है</p>
                            <p class="poppinforCard mb-1" style="color: #393185">
                                राजस्थान स्टेट ओपन स्कूल
                            </p>
                            <p class="poppinforCard" style="color: #db4b73">स्टूडेंट ऐप</p>
                        </div>
                        <div class="ellipse-container mt-5" style="align-items: center;"> 
                            <div class="ellipseOne"></div>
                            <div class="ellipseTwo"></div>
                            <div class="ellipseThree"></div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-md-6">
                @RenderBody()
            </div>
            <partial name="_LogoutAlert"/>
        </div>
    </div>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js_3.2.6/cdnjs/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>