<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - RSOS</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/API.styles.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    
    @* <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/API.styles.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/lib/quill/dist/css/quill.bubble.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/lib/quill/dist/css/quill.core.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/lib/quill/dist/css/quill.snow.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/lib/toastr/dist/css/toastr.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/lib/toastr/dist/css/toastr.min.css" asp-append-version="true"/> *@
    @* <script src="lib/jquery/dist/jquery.js"></script> *@
    @* <script src="lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="lib/jquery/dist/jquery.min.map"></script> *@
    @* <script src="lib/jquery-validation/dist/jquery.validate.js"></script> *@
    @* <script src="lib/jquery-validation/dist/jquery.validate.min.js"></script> *@
    @* <script src="lib/jquery-validation/dist/additional-methods.js"></script> *@
    @* <script src="lib/jquery-validation/dist/additional-methods.min.js"></script> *@
    @* <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
    @* <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    @* <script src="~/lib/quill/dist/js/quill.js"></script> *@
    @* <script src="~/lib/quill/dist/js/quill.min.js"></script> *@
    @* <script src="~/lib/quill/dist/js/quill.core.js"></script> *@
    @* <script src="~/lib/toastr/dist/js/toastr.js.map"></script> *@
    @* <script src="~/lib/toastr/dist/js/toastr.min.js"></script> *@
    
    <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-6">
                <div class="section">
                    <div class="col-md-6">
                        <div class="rectangle-image"></div>
                        <div style="justify-content: center; align-items: center; text-align: center;">
                            <img src="images/government.png" style="position: absolute; margin-left: 2vw;" alt="">
                            <img src="images/logo.png" style="width: 8vw; margin-top: 12vw;" alt=""/>
                        </div>
                        <div class="welcomeCard mt-5" style="border-radius: 1rem">
                            <p class="welcomeTitle poppins-medium mb-1" style="margin-top: 20px">
                                Welcome to
                            </p>
                            <p class="poppinforCard mb-1" style="color: #393185">
                                Rajasthan State Open School
                            </p>
                            <p class="poppinforCard" style="color: #db4b73">Student App</p>
                            <p class="welcomeTitle poppins-medium mb-1">आपका स्वागत है</p>
                            <p class="poppinforCard mb-1" style="color: #393185">
                                राजस्थान स्टेट ओपन स्कूल
                            </p>
                            <p class="poppinforCard" style="color: #db4b73">स्टूडेंट ऐप</p>
                        </div>
                        <div class="ellipse-container mt-5" style="align-items: center;"> 
                            <div class="ellipseOne"></div>
                            <div class="ellipseTwo"></div>
                            <div class="ellipseThree"></div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-md-6">
                @RenderBody()
            </div>
        </div>
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>