<div id="uploaded-questions-list" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-colored-header" style="background-color: #DB4B73">
                <h4 class="modal-title text-white">Upload Questions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" style="overflow: auto">
                <table class="basic-datatable table table-hover dt-responsive nowrap w-100">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Subject</th>
                        <th>Type</th>
                        <th>Uploaded On</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>202</td>
                        <td>English</td>
                        <td>ePCP Final Paper</td>
                        <td>05-03-2024 12:00:00 PM</td>
                        <td>
                            <a class="btn btn-sm btn-outline-pink btn-rounded">
                                <i class="fa-solid fa-download"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>202</td>
                        <td>Mathematics</td>
                        <td>ePCP Final Paper</td>
                        <td>05-03-2024 12:00:00 PM</td>
                        <td>
                            <a class="btn btn-sm btn-outline-pink btn-rounded">
                                <i class="fa-solid fa-download"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>