<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true" domain="localhost/"/>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false"/>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="ETag" value="default-src='self'; script-src='self'" />
                <add name="Expires" value="-1" />
                <!--<add name="Pragma" value="no-cache" />-->
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1;mode=block" />
            </customHeaders>
        </httpProtocol>
        <httpErrors>
            <error statusCode="400" path="/error/400" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>